<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Registrieren | Pet Daycare</title>

    <!---Custom CSS File--->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
</head>

<body>
    <div class="container">
        
        <input type="checkbox" id="check" />

        <div class="registration form">
            <header>Signup</header>

            <div style="margin-bottom: 10px;color: red;">
                {{ wrong_credentials_msg }}
            </div>

            <form action="/do_sign_up" method="post">
                <input type="email" name="email" required placeholder="Email" />
                <input type="text" name="user_name" required placeholder="Name" />
                <input type="password" name="password" required placeholder="Passwort" />
                <input type="password" name="confirm_password" required placeholder="Passwort bestätigen" />

                <input type="submit" class="button" value="Signup" />
            </form>
            <div class="signup">
                <span class="signup">Account bereits vorhanden?
                    <a href="/login">Login</a>
                </span>
            </div>
        </div>
        
    </div>
</body>

</html>
